@charset "UTF-8";

/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro 
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}*/
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

/*GENERALES*/

body {
  font-family: 'Poppins', sans-serif;
  background-color: #28282B;
}







/*MENU*/
header {
  background-color: #000000;
  width: 100%;
  padding: 1em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

}

h1 {
  
  color: white;
}

.burger {
  display: none;
  color: white;
  height: 2em;
}

.nav {
  color: white;
}

.nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.nav ul li {
  margin: 1em;
  
  
}

.nav a:hover {
  color: #7393B3;
  line-height: .3em;
  text-decoration: underline;

}


@media screen and (max-width:480px) {
  .nav {
    width: 100%;
  }

  .burger {
    display: block;
  }

  .nav ul {
    flex-direction: column;
  }
}

/*MAIN*/

/*Banner*/

main {
  
  width: 100%;
}

.banner {
  background-color: #28282B;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 1em;
}

.banner h2 {
  color: white;
  font-size: 5em;
  line-height: 1em;
}

.banner button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  border-radius: 16px;
  border: 1px solid transparent;
  color: #FFFFFF;
  background-color: #1DC9A0;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.15s linear;
  margin-top: 1.5em;
}

.banner button:hover {
  background-color: rgba(29, 201, 160, 0.08);
 border-color: #1DC9A0;
 color: #1DC9A0;
 transform: translateY(-5px) scale(1.05);
}

.banner img {
  width: 50%;
}


/*ABOUT*/



.about {
  background-color: #7393B3;
}

.about p {
  text-align: center;
  padding: 0 3em;
}

/*Projects*/

.projects {
  background-color: #28282B;
}

.cards_container {
  width: 100%;
 display: grid;
 grid-auto-rows: 60vh;
 grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
 grid-auto-flow: dense;
 gap: 2em;
 justify-items: center;
 align-items: center;
}

.card {
  /*width: 270px;
  height: 400px;*/
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content:stretch ;
  margin: 1em;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 1em;

  
  transition: all 500ms ease;


}

.card:hover {
  transform: translateY(-10px);
}


.card img {
  width: 100%;
  height: 180px;
  margin-bottom: 1em;
  
}

.card p {
  margin: 1em 2em;
}

.card button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  border-radius: 16px;
  border: 1px solid transparent;
  color: #FFFFFF;
  background-color: #1DC9A0;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.15s linear;
  margin-top: 1.5em;
}

.card button:hover {
  background-color: rgba(29, 201, 160, 0.08);
 border-color: #1DC9A0;
 color: #1DC9A0;
 transform: translateY(-5px) scale(1.05);
}

/*skills*/

.logos {
  background-color: #7393B3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
  
}

.logos img {
  width: 40px;
  margin: .5em .7em;
}

/*Footer*/

footer {
  background-color: #1DC9A0;
  text-align: center;
}