
<div class="flex justify-evenly">
    <span>© 2024</span>
    <span class="flex gap-2">Created with Astro <img class="size-7"  src="/public/astro.svg" alt=""></span>
    <ul>
        <li>About</li>
        
    </ul>
</div>
